<form novalidate [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div
    class="modal custom-modal fade bank-details"
    id="cu_form"
    role="dialog"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="form-header text-start mb-0">
            <h4 class="mb-0">Enregistrer Un Domaine D'Activité</h4>
          </div>
          <button
            id="modalCloseBtn"
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="bank-inner-details">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Nom du domaine d'activité</label>
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    placeholder="Nom du domaine d'activité"
                  />
                  <ul
                    class="error-color list-unstyled mt-1"
                    *ngIf="
                      (formSubmitted || formGroup.controls['name'].dirty) &&
                      formGroup.controls['name'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getValidationMessages('name')
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Nom court du domaine d'activité</label>
                  <input
                    name="short"
                    formControlName="short"
                    id="short"
                    placeholder="Nom court du domaine d'activité"
                    class="form-control" />
                  <ul
                    class="error-color list-unstyled mt-1"
                    *ngIf="
                      (formSubmitted ||
                        formGroup.controls['short'].dirty) &&
                      formGroup.controls['short'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getValidationMessages(
                          'short'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Description du domaine d'activité</label>
                  <textarea
                    name="description"
                    formControlName="description"
                    id="description"
                    class="form-control"
                  >
                  </textarea>
                  <ul
                    class="error-color list-unstyled mt-1"
                    *ngIf="
                      (formSubmitted ||
                        formGroup.controls['description'].dirty) &&
                      formGroup.controls['description'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getValidationMessages(
                          'description'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-1">
          <div class="w-8/12 p-2 rounded-lg">
            <div class="flex justify-center text-center">
              <ul class="error-color list-unstyled mt-1">
                <li style="font-size: 12px">
                  {{ this.operationErrorMessage }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="bank-details-btn">
            <a
              role="button"
              data-bs-dismiss="modal"
              class="btn bank-cancel-btn me-2"
              >Annuler</a
            >
            <button
              type="submit"
              [disabled]="formSubmitted && formGroup.invalid"
              [class.btn-secondary]="formSubmitted && formGroup.invalid"
              class="btn bank-save-btn"
            >
              Enregister
              <span id="loader" class="" role="status"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
