.error-color {
  color: #d81f32;
}

mat-progress-spinner {
  position: absolute;
  top: 100px;
  bottom: 800px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  opacity: 7;
  left: 0;
  right: 0;
  z-index: 6;
  backdrop-filter: blur(2px);
}
