<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Créer une licence </h1>
            <form
              novalidate
              [formGroup]="formGroup"
              (ngSubmit)="submitForm()"
            >
              <div class="form-group">
                <label class="form-control-label">Nombre de mois</label>
                <input
                  type="numbermonth"
                  formControlName="numbermonth"
                  class="form-control"
                />
                <ul
                  class="error-color list-unstyled mt-1"
                  *ngIf="(formSubmitted || formGroup.controls['numbermonth'].dirty) && formGroup.controls['numbermonth'].invalid">
                  <li *ngFor="let error of formGroup.getValidationMessages('numbermonth')">{{error}}</li>
                </ul>
              </div>
              <div class="form-group">
                <label class="form-control-label">PaiementType</label>
                <input
                  type="paiementtype"
                  formControlName="paiementtype"
                  class="form-control"
                />
                <ul
                  class="error-color list-unstyled mt-1"
                  *ngIf="(formSubmitted || formGroup.controls['paiementtype'].dirty) && formGroup.controls['paiementtype'].invalid">
                  <li *ngFor="let error of formGroup.getValidationMessages('paiementtype')">{{error}}</li>
                </ul>
              </div>
              <div class="form-group">
                <label class="form-control-label">companyid</label>
                <input
                  type="companyid"
                  formControlName="companyid"
                  class="form-control"
                />
                <ul
                  class="error-color list-unstyled mt-1"
                  *ngIf="(formSubmitted || formGroup.controls['companyid'].dirty) && formGroup.controls['companyid'].invalid">
                  <li *ngFor="let error of formGroup.getValidationMessages('companyid')">{{error}}</li>
                </ul>
              </div>
              <div class="flex justify-center mt-1">
                <div class="w-8/12 p-2 rounded-lg">
                  <div class="flex justify-center text-center">
                    <ul class="error-color list-unstyled mt-1">
                      <li style="font-size: 12px">
                        {{ this.loginFailureMsg }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <button
                  class="btn text-light btn-lg btn-block btn-primary w-100"
                  type="submit"
                  [disabled]="formSubmitted && formGroup.invalid"
                  [class.btn-secondary]="formSubmitted && formGroup.invalid"
                >Enrégistré
                <span id="loader" class="" role="status"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
