<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <h3 class="text-center">CHANGER DE MOT DE PASSE</h3>
      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <form
              method="post"
              novalidate
              [formGroup]="formGroup"
              (ngSubmit)="submitForm()"
            >
              <div class="form-group">
                <label class="form-control-label">Ancien mot de passe</label>
                <input
                  type="password"
                  formControlName="oldPassword"
                  class="form-control"
                />
                <ul
                  class="error-color list-unstyled mt-1"
                  *ngIf="(formSubmitted || formGroup.controls['oldPassword'].dirty) && formGroup.controls['oldPassword'].invalid">
                  <li *ngFor="let error of formGroup.getValidationMessages('oldPassword')">{{error}}</li>
                </ul>
              </div>
              <div class="form-group">
                <label class="form-control-label">Nouveau mot de passe</label>
                <div class="pass-group">
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control pass-input"
                  />
                  <ul
                    class="error-color list-unstyled mt-1"
                    *ngIf="(formSubmitted || formGroup.controls['password'].dirty) && formGroup.controls['password'].invalid">
                    <li *ngFor="let error of formGroup.getValidationMessages('password')">{{error}}</li>
                  </ul>
                  <!-- <span class="fas fa-eye toggle-password"></span> -->
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">Confirmer le mot de passe</label>
                <div class="pass-group">
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control pass-input"
                  />
                  <ul
                    class="error-color list-unstyled mt-1"
                    *ngIf="(formSubmitted || formGroup.controls['confirmPassword'].dirty) && formGroup.controls['confirmPassword'].invalid">
                    <li *ngFor="let error of formGroup.getValidationMessages('confirmPassword')">{{error}}</li>
                  </ul>
                  <ul class="error-color list-unstyled mt-1"
                    *ngIf="(formSubmitted || formGroup.dirty) && formGroup.errors?.passUnconfirmed">
                    <li>
                      Vos mots de passe ne correspondent pas
                    </li>
                  </ul>
                  <!-- <span class="fas fa-eye toggle-password"></span> -->
                </div>
              </div>
              <div class="flex justify-center mt-1">
                <div class="w-8/12 p-2 rounded-lg">
                  <div class="flex justify-center text-center">
                    <ul class="error-color list-unstyled mt-1">
                      <li style="font-size: 12px">
                        {{ this.loginFailureMsg }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <button
                  class="btn text-light btn-lg btn-block btn-primary w-100"
                  type="submit"
                  [disabled]="formSubmitted && formGroup.invalid"
                  [class.btn-secondary]="formSubmitted && formGroup.invalid"
                >Login
                <span id="loader" class="" role="status"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
