<div class="header header-one">

  <div class="header-left header-left-one">
      <a class="logo">
        <h3 class="mt-3">NUTITO</h3>
      </a>
      <a href="index-2.html"
          class="white-logo">
          <img src="assets/img/logo-white.png"
              alt="Logo">
      </a>
      <a href="index-2.html"
          class="logo logo-small">
          <img src="assets/img/logo-small.png"
              alt="Logo"
              width="30"
              height="30">
      </a>
  </div>


  <a href="javascript:void(0);"
      id="toggle_btn">
      <i class="fas fa-bars"></i>
  </a>

  <a class="mobile_btn"
      id="mobile_btn">
      <i class="fas fa-bars"></i>
  </a>


  <ul class="nav nav-tabs user-menu">

      <li class="nav-item dropdown has-arrow main-drop">
          <a href="#"
              class="dropdown-toggle nav-link"
              data-bs-toggle="dropdown">
              <span class="user-img mx-2">
                <i class="fas fa-user"></i>
              </span>
              <span>Admin</span>
          </a>
          <div class="dropdown-menu">
              <a style="cursor: pointer;"
                class="dropdown-item"
                (click)="procceedToResetPasswordForm()">
                <i data-feather="user"class="me-1"></i>Changer De Mot De Passe
              </a>
              <a style="cursor: pointer;"
                class="dropdown-item"
                (click)="logout()">
                <i data-feather="log-out"class="me-1"></i>Se Déconnecter
              </a>
          </div>
      </li>

  </ul>

</div>
