<div class="content container-fluid">
  <div class="row">
    <div
      role="button"
      [routerLink]="['/dashboard/customers']"
      class="col-xl-3 col-sm-6 col-12"
    >
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon bg-2">
              <i class="fas fa-users"></i>
            </span>
            <div class="dash-count">
              <div class="dash-title">Clients Nutito</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      role="button"
      [routerLink]="['/dashboard/applicative-admin']"
      class="col-xl-3 col-sm-6 col-12"
    >
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon bg-4">
              <i class="far fa-file"></i>
            </span>
            <div role="button" class="dash-count">
              <div class="dash-title">Admin Applicative</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      role="button"
      [routerLink]="['/dashboard/capital']"
      class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon bg-1">
              <i class="fas fa-dollar-sign"></i>
            </span>
            <div class="dash-count">
              <div class="dash-title">Capital Nutito</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      role="button"
      [routerLink]="['/dashboard/licenses']"
      class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon bg-3">
              <i class="fas fa-file-alt"></i>
            </span>
            <div role="button" class="dash-count">
              <div class="dash-title">Licences</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h5 class="card-title">Clients Nutito</h5>
            </div>
            <div class="col-auto">
              <a
                [routerLink]="['/dashboard/customers']"
                class="btn-right btn btn-sm btn-outline-primary"
              >
                Tout Voir
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table 
              datatable 
              [dtOptions]="dtOptions" 
              [dtTrigger]="dtTrigger" 
              class="table table-stripped table-hover">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Client</th>
                  <th class="text-center">Date Inscription</th>
                  <th class="text-center">Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers; let i = index">
                  <td class="text-center">{{ i }}</td>
                  <td class="text-center">
                    <h2 class="table-avatar">
                      <a role="button"
                        ><img
                          class="avatar avatar-sm me-2 avatar-img rounded-circle"
                          src="{{ ('http://localhost:3000/api/v1/files/get/' + customer.id) ? ('http://localhost:3000/api/v1/files/get/' + customer.id) : 'assets/img/avatar.png' }}"
                          alt="User Image"
                        />{{ customer.firstname }} {{ customer.lastname }}</a
                      >
                    </h2>
                  </td>
                  <td class="text-center">{{ getFormattedDate(customer.created_at!) }}</td>
                  <td class="text-center">
                    <span class="badge bg-success-light">Paid</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
