<div class="card-body">
  <ul class="nav nav-tabs nav-tabs-solid nav-justified">
    <li class="nav-item">
      <a
        class="nav-link active"
        href="#solid-justified-tab1"
        data-bs-toggle="tab"
        >Présentation Entreprise</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#solid-justified-tab2" data-bs-toggle="tab">
        Licences
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#solid-justified-tab3" data-bs-toggle="tab">
        Opérations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#solid-justified-tab4" data-bs-toggle="tab">
        Journal
      </a>
    </li>
  </ul>
  <div>
    <div class="tab-content">
      <div class="tab-pane show active" id="solid-justified-tab1">
        Information de l'entreprise ici
      </div>
      <div class="tab-pane" id="solid-justified-tab2">
        Licences
      </div>
      <div class="tab-pane" id="solid-justified-tab3">
        Opérations
      </div>
      <div class="tab-pane" id="solid-justified-tab4">
        Journal
      </div>
    </div>
  </div>
</div>
