<div class="widget settings-menu">
  <ul>
    <li class="nav-item">
      <a
        routerLinkActive="active"
        routerLink="/dashboard/applicative-admin"
        [routerLinkActiveOptions]="{exact: true}"
        role="button" class="nav-link">
        <i class="far fa-user"></i> <span>Rôles Agents</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLinkActive="active"
        routerLink="/dashboard/applicative-admin/company-categories"
        [routerLinkActiveOptions]="{exact: true}"
        role="button" class="nav-link">
        <i class="fas fa-cog"></i> <span>Types d'entreprises</span>
      </a>
    </li>
    <li class="nav-item">
      <a role="button" class="nav-link">
        <i class="far fa-check-square"></i> <span>Opérations Clients</span>
      </a>
    </li>
    <li class="nav-item">
      <a role="button" class="nav-link">
        <i class="far fa-list-alt"></i>
        <span>Types d'opérations</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active"
        routerLink="/dashboard/applicative-admin/workfields"
        [routerLinkActiveOptions]="{exact: true}"
        role="button" class="nav-link">
        <i class="far fa-bell"></i> <span>Domaines d'activité</span>
      </a>
    </li>
    <!--<li class="nav-item">
      <a role="button" class="nav-link">
        <i class="fas fa-unlock-alt"></i>
        <span>Change Password</span>
      </a>
    </li>
    <li class="nav-item">
      <a role="button" class="nav-link">
        <i class="fas fa-ban"></i> <span>Delete Account</span>
      </a>
    </li>-->
  </ul>
</div>
